{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title_bl %}{{article.title}} - GPraz{% endblock %}

{% block body_bl %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="article">
                    <h1>{{article.title}}</h1>
                    <div class="article-detail">
                        <p><small>
                            <img src="{% static 'image/calendar-2x.png' %}" alt="date-created" title="date-created"> {{article.created_at|date:'d M Y'}}
                            <img src="{% static 'image/clock-2x.png' %}" alt="time-created" title="time-created"> {{article.created_at|date:'H:i'}}</small>
                        </p>
                        <p><small>
                            <img src="{% static 'image/person-2x.png' %}" alt="author" title="author"> gpraz</small>
                        </p>
                        <p><small>
                            <img src="{% static 'image/eye-2x.png' %}" alt="view-count" title="view-count"> {{article.views}}</small>
                        </p>
                        <p><small>
                            Tags: 
                            {% for tag in article.tag.all %}
                                <span>
                                    <a href="{% url 'tag' tag_name=tag.name %}" class="btn btn-light btn-sm tag" role="button"><small>{{tag.name}}</small></a>
                                </span>
                            {% endfor %}</small>
                        </p>
                    </div>
                    <div class="article-body">
                        {{article.content|safe}}
                    </div>
                    {% if user.is_authenticated %}
                    <div class="article-admin-options">
                        <a href="{{article.get_admin_url}}" class="btn btn-primary btn-sm" role="button">Edit this article</a>
                    </div>
                    {% endif %}

                    <div class="article-comments" id="article-comments">
                        {% if show_comments %}
                            <div id="disqus_thread"></div>
                            <script>
                                var disqus_config = function () {
                                this.page.url = 'https://gpraz.xyz{{article.get_absolute_url}}';
                                this.page.identifier = '{{article.uuid}}';
                                this.page.title = '{{article.title}}';
                                };
                                (function() {
                                var d = document, s = d.createElement('script');
                                s.src = 'https://gpraz.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        {% else %}
                            Comment section is hidden when DEBUG = True
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="recent-post-list">
                    <p style="padding-left: 10px; padding-top: 10px;">Popular posts:</p>
                    <ul>
                        {% for recent in recent_articles %}
                            <li style="margin-bottom: 10px;"><a href="{{recent.get_absolute_url}}">{{recent.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
